@media screen and (max-width: 851px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #0000006b;
        backdrop-filter: blur(14px);
        transition: right .5s;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    #open-menu,
    #close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

}

@media (max-width: 768px) {
    #home {
        flex-direction: column;
        /* height: 100%; */
    }

    .container-testa,
    .container-corpo {
        max-width: 100%;
    }

    #name {
        font-size: 2.5rem;
    }

    .intro-paragraph {
        font-size: 1rem;
    }
}


/* ANIMAZIONI */
/* arrow-down */
@keyframes scroll-dowm {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(.6rem);
        opacity: 0;
    }
}

.btn-chi-siamo i {
    animation: scroll-dowm 3s infinite;
}

/* img-home */
@keyframes heartbeat {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

.heartbeat {
    animation: heartbeat 3.5s ease-in-out infinite both;
}

/* carosello */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-40%);
    }
}

.logo-slide {
    animation: 28s slide infinite linear;
    display: inline-flex;
}

/* ----------------------------------------- SCROLLBAR ------------------------------------------- */
/* Stile per l'intero scrollbar */
::-webkit-scrollbar {
    width: 14px;
    height: 10px;
}

/* Stile per il thumb (la parte che si muove) */
::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 2px;
}

/* Stile per il track (la traccia in cui il thumb si muove) */
::-webkit-scrollbar-track {
    background-color: rgba(144, 143, 143, 0.435);
    /* border-radius: 4px; */
}