@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-attachment: fixed;
    font-family: 'poppins', sans-serif;
    --color1: #d8d8d8;
    --color2: #111154;
    --color3: #72b6ff;
    --color4: #0d0d3f;
    --color5: #1a1a89;
    background: var(--color4);
    scroll-behavior: smooth;
}

.show-menu {
    right: 0;
}

/* ------------------------------------ NAVBAR ----------------------------------------- */
.nav-link.active {
    color: var(--color3);
}

.arrow-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: transparent;
    color: var(--color1);
    padding: 4px;
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 1.5rem;
    text-align: center;
}

.arrow-up:hover {
    background: var(--color3);
}

header {
    width: 100%;
    background-color: transparent;
    padding: 12px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header::after {
    content: "";
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(var(--color3), 70%, 4%, .2);
    backdrop-filter: blur(16px);
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: var(--color3);
    font-family: "Libre Caslon Text", serif;
}

#logo {
    width: 35px;
    height: 35px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-size: 19px;
    font-weight: bold;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color3);
    transition: 0.30s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.menu li a:hover {
    color: var(--color3);
}

#open-menu,
#close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

#open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

/* ------------------------------------ HOME ------------------------------ */
#home {
    background-color: var(--color4);
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 100%;
    padding: 210px 0;
}

.dati {
    padding-top: 15px;
    color: var(--color1);
}

.dati h1 {
    margin-bottom: 10px;
}

.dati h1 span {
    color: var(--color3);
    font-size: 30px;
}

#name {
    display: inline-block;
    position: relative;
}

.letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(-100px);
    animation: drop 8s infinite;
}

.dati h3 span {
    position: relative;
}

.dati h3 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.3rem;
    width: 100%;
    height: 2px;
    background-color: var(--color3);
}

.dati #linkedin {
    margin-left: 155px;
    margin-top: 40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.dati #git-hub {
    margin-left: 25px;
    font-size: 36px;
    cursor: pointer;
    color: var(--color1);
}

.container-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 12px 0.5px var(--color3);
    margin-left: 60px;
    background: linear-gradient(19deg, #fffeff 0%, #72b6ff 100%);
    max-width: 100%;
}

.container-avatar img {
    width: 100%;
    height: 100%;
}

.arrow-down {
    margin-right: 4px;
    background-color: var(--color3);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    /* quello dentro alla scatola viene messo precisamente al centro */
    font-size: 1.5rem;
    overflow: hidden;
}

.arrow-down i {
    animation: scroll-dowm 2s infinite;
}

.piede {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color1);
    column-gap: .5rem;
    position: relative;
    bottom: 80px;
    width: 100%;
}

.work {
    color: var(--color1);
}

.work:hover {
    color: var(--color3);
}

/* ------------------------------------- SECTION-INFO ----------------------------------- */
#info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1);
    background-color: var(--color2);
    height: 100%;
    padding: 80px 0;
}

.container-info {
    display: flex;
    width: 1200px;
    height: 500px;
    border-radius: 5px;
}

/* ------------------------------------- Container-left ----------------------------------- */
.container-left {
    width: 50%;
    height: 500px;
    padding: 80px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.corpo-info h3 {
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-top: -20px;
}

.corpo-info span {
    color: var(--color3);
}

.corpo-info p {
    padding: 20px 0 30px 0;
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
    hyphens: auto;
}

.container-button {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.container-button button {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: block;
    width: 260px;
    height: 40px;
    border-radius: 5px;
    color: var(--color1);
    background-color: var(--color5);
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: bolder;
}

.container-button button:hover {
    background-color: var(--color3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container-button button.active {
    background-color: var(--color3);
}

/* ------------------------------------- Container-right ----------------------------------- */
.container-right {
    margin-left: 30px;
    width: 50%;
    height: 500px;
    text-align: center;
    padding: 60px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* ----------------------------------------- exp ----------------------------------- */
#container-1 h3 {
    color: var(--color3);
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.p-exp {
    padding: 20px 0 40px 0;
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
    hyphens: auto;
}

.container-exp {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.left-box,
.right-box {
    flex: 1;
    height: 70px;
    background-color: var(--color5);
    color: var(--color1);
    border-radius: 5px;
    gap: 15px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.year {
    color: var(--color3);
}

.curriculum-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.curriculum-button-container a {
    width: 100%;
}

.download-button {
    padding: 10px 20px;
    background-color: var(--color5);
    color: var(--color1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-weight: bolder;
}

.download-button:hover {
    background-color: var(--color3);
}

/* --------------------------------------- Skills ----------------------------------- */
#container-2 h3 {
    color: var(--color3);
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.p-skills {
    padding: 20px 0 40px 0;
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
    hyphens: auto;
}

.container-skills .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 600px;
}

.sub-box {
    width: 50px;
    height: 50px;
}

.sub-box img {
    cursor: pointer;
    transition: transform .4s;
}

.sub-box img:hover {
    transform: translateY(-.25rem);
}

.sub-box span {
    font-size: 11px;
    color: var(--color1);
    text-align: center;
}

#sub-sic img {
    width: 100%;
    height: 100%;
}

/* ------ */
.container-right {
    position: relative;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* -------------------------------------------- about --------------------------------- */
#container-3 h3 {
    color: var(--color3);
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.p-about {
    padding: 20px 0 30px 0;
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
    hyphens: auto;
}

.about {
    display: flex;
    gap: 50px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.dom {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    color: #ccc;
    font-size: 14px;
    border-bottom: 1px dashed #44444474;
}

#dom1 {
    padding-bottom: 25px;
}

.risp {
    color: var(--color1);
    font-size: 17px;
}

#email-s:hover,
#free-s:hover {
    color: var(--color3);
    transition: color .2s;
}

/* ----------------------------- SECTION PORTFOLIO ---------------------------- */
#portfolio {
    color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 60px 0;
}

.container-portfolio {
    display: flex;
    width: 1300px;
    height: 500px;
    border-radius: 5px;
}

.container-titolo {
    width: 50%;
    height: 500px;
    padding: 6%;
    display: flex;
    flex-direction: column;
}

.container-titolo #number {
    font-size: 55px;
    color: var(--color3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-titolo #portfolio-title {
    padding-bottom: 15px;
    font-size: 28px;
    color: var(--color3);
}

.container-titolo p {
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
    hyphens: auto;
}

.container-titolo #cod {
    padding-top: 15px;
    color: var(--color3);
    font-weight: bolder;
    font-size: 22px;
}

hr {
    width: 100%;
    background-color: #838383;
    margin-top: 40px;
    height: 2px;
    border: none;
}

.sub-box-portfolio {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    gap: 10px;
}

.sub-box-portfolio img:hover {
    transform: translateY(-.25rem);
}

.container-codice {
    padding-top: 15px;
    display: flex;
    justify-content: start;
    gap: 20px;

}

.container-codice .download {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--color1);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.container-codice i {
    color: #000;
}

.container-codice .git-hub {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--color1);
}

.container-codice #git-hub {
    font-size: 30px;
}

.container-codice .git-hub:hover,
.download:hover {
    background-color: var(--color3);
    transition: 0.3s ease-in-out
}

.hover-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    margin-top: 5px;
    background-color: #5198e4be;
    color: var(--color1);
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
}

.container-codice .git-hub:hover .hover-text {
    display: block;
}

.container-codice .download:hover .hover-text {
    display: block;
}

.container-lavoro {
    position: relative;
    width: 35%;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6%;
    margin-left: 50px;
}

.container-img {
    background-color: var(--color1);
    width: 400px;
    height: 300px;
    color: var(--color1);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.container-img img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0d0d3fce;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay span {
    color: var(--color1);
    font-size: 20px;
    opacity: 0;
    transition: opacity .4s ease;
}

.overlay span:hover {
    color: var(--color3);
    transition: color .2s;
}

.overlay i {
    color: var(--color3);
    width: 25px;
    height: 25px;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--color1);
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 180px;
    top: 170px;
}

.overlay i:hover {
    color: var(--color1);
    transition: color .2s;
    background-color: var(--color3);
}


.container-img:hover .overlay {
    height: 100%;
}

.container-img:hover .overlay span {
    opacity: 1;
}

.container-img img.active {
    opacity: 1;
}

.container-arrow {
    padding-top: 15px;
    display: flex;
    gap: 20px;
    width: 398px;
}

.container-arrow #next,
#prev {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--color1);
    font-size: 25px;
    padding: 1px;
    text-align: center;
}

#next:hover,
#prev:hover {
    background-color: var(--color3);
    transition: 0.3s ease-in-out
}

.container-arrow i {
    color: #000;
}


/* --------------------------------------  SECTION CONTATTI ----------------------------------------- */
#contatti {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 70px 0;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.titolo h3 {
    padding-bottom: 10px;
    color: var(--color1);
}

.titolo span {
    color: var(--color3);
    font-size: 20px;
}

.input-box {
    position: relative;
    padding: 10px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    padding-left: 35px;
    box-sizing: border-box;
}

#nm,
#email {
    display: flex;
    width: 500px;
    height: 50px;
    margin: 2px;
    background-color: var(--color4);
    color: var(--color1);
    border: none;
    outline: none;
    border-radius: 5px;
}

#text {
    display: flex;
    width: 500px;
    height: 200px;
    margin: 2px;
    background-color: var(--color4);
    border: none;
    padding-left: 34px;
    padding-top: 17px;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    outline: none;
    resize: none;
    border-radius: 5px;
    color: var(--color1);
}

.focus:focus {
    border: 2px solid var(--color3) !important;
}

.focus:focus::placeholder {
    opacity: 0;
}

::-webkit-input-placeholder {
    color: #ffffff80;
}

.box {
    opacity: 0;
    width: 50px;
    text-align: center;
}

#box-area {
    width: 60px;
}

.input-box input:focus~.box {
    opacity: 1;
    color: #ffffffa1;
    position: relative;
    bottom: 59px;
    left: 29px;
    font-size: 13px;
    background: linear-gradient(to top, #0d0d3f 50%, #111154 50%);
    transition: linear .3s;
}

.input-box textarea:focus~.box {
    opacity: 1;
    color: #ffffffa1;
    position: relative;
    bottom: 210px;
    left: 29px;
    font-size: 13.5px;
    background: linear-gradient(to top, #0d0d3f 50%, #111154 50%);
    transition: linear .3s;
}

.input-box i {
    position: absolute;
    top: 28px;
    left: 22px;
    color: #ffffff80;
}

.input-box #icon-text {
    position: absolute;
    top: 29px;
    left: 22px;
}

#btn-invia {
    width: 500px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--color3);
    color: var(--color1);
    border-radius: 5px;
    transition: .3s background-color;
}

#btn-invia:hover {
    background-color: #056bfb;
}

/* ----------------------------------- FRECCETTA SU ------------------------------------ */
.arrow-up {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: none;
    background: transparent;
    color: var(--color1);
    padding: 4px;
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 1.5rem;
    text-align: center;
}

.arrow-up:hover {
    background: var(--color3);
}

/* -------------------------------------- FOOTER ---------------------------------------- */
#waterdrop {
    height: 20px;
    width: 100%;
    background-color: var(--color2);
}

#waterdrop canvas {
    bottom: -10px !important;
}



.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    color: var(--color1);
    background-color: var(--color4);
    padding: 20px;
}

.container-footer h3 {
    color: var(--color3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.footer-section {
    padding: 10px;
    border-right: 1px solid #444;
    display: flex;
    justify-content: center;
}

.footer-section:last-child {
    border-right: none;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section ul li a {
    color: var(--color1);
    font-weight: normal;
}

.footer-section ul li a span:hover {
    color: var(--color3);
    transition: color .3s;
}

.footer-section .social-icons {
    gap: 3px;
}

.footer-section ul li a i {
    margin-right: 10px;
    font-size: 24px;
}

#em {
    display: block;
    padding-left: 33px;
}

#fiver {
    font-family: "Alfa Slab One", serif;
    font-size: 18px;
    margin-right: 15px;
}

.footer-bottom {
    text-align: center;
    padding: 18px 0;
    color: #dedede9b;
    border-top: 1px solid #444;
    height: 50px;
}

.container-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-cont a {
    background-color: var(--color3);
    color: var(--color1);
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
}

.container-cont a:hover {
    color: var(--color5);
    transition: color .5s;
}