@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --color1: #d8d8d8;
    /* --color2: #d19845; */
    --color2: #0099ff;
    --color3: #272424;
    --color4: #131212;
    font-family: 'poppins', sans-serif;
    font-display: swap;
    color: var(--color1);
}

h1 {
    font-size: 4rem;
    font-family: 'Libre Caslon Text', serif;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Libre Caslon Text', serif;
}

h3 {
    font-size: 1.7rem;
    font-family: 'Libre Caslon Text', serif;
}

p {
    font-size: 1.1rem;
}

.p-bold {
    font-weight: bolder;
    font-style: italic;
    color: rgb(247, 243, 243);
    letter-spacing: 0.4px;
}

/* --------------------------------------------------- HEADER------------------------------------------ */

#header {
    width: 100%;
    background-color: transparent;
    padding: 12px 70px;
    /* regolare padding  */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header::after {
    content: "";
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(var(--color1), 70%, 4%, .2);
    backdrop-filter: blur(16px);
    top: 0;
    left: 0;
    z-index: -1;
}

#titolo {
    font-size: 1.4rem;
    color: #fff;
    font-family: 'Libre Caslon Text', serif;
}

#titolo span {
    color: var(--color2);
    font-family: 'Libre Caslon Text', serif;
}

#sottotitolo {
    color: #fff !important;
    display: block;
    font-size: 0.9rem;
    letter-spacing: 1.8px;
    text-align: center;
    font-family: 'Libre Caslon Text', serif;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 15px;
}

.menu li:last-child {
    padding-left: 0;
}

.menu li a {
    /* padding: 0 20px; */
    color: #fff;
    font-size: 1.2rem;
    display: inline-block;
    transition: 0.3s ease-in-out;
    position: relative;
    text-align: center;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color2);
    transition: 0.3s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;

}

.menu li a:hover {
    color: var(--color2);
    transition: color .3s;
}

#open-menu,
#close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.8rem;
    display: none;
}

#close-menu {
    font-size: 2.3rem;
}

#open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}


.arrow-up {
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: transparent;
    padding: 4px;
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color .3s;
}

.arrow-up:hover {
    background-color: var(--color2);
}

.nav-link.active {
    color: var(--color2);
}

/*  --------------------------------- HOME ------------------------- */
#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 70px;
    /* con 100 vh padding verticale inutile */
    /* background-image: url(images/dian7.jpg);
    background-size: cover; */
    /* min-height: 120vh; */
    /* height: 100vh; */
    background-color: var(--color4);
    position: relative;

}

.container-testa {
    flex: 1;
    max-width: 50%;
}

.container-testa h1 {
    color: var(--color2);
}

.container-testa p {
    padding: 20px 0 30px 0;
    color: var(--color1);
    line-height: 1.5;
}

/* #siti {
    position: relative;
}

#siti::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.2rem;
    width: 100%;
    height: 2px;
    background-color: var(--color2);
} */

.container-testa .btn-chi-siamo {
    color: #fff;
    border-radius: 5px;
    background-color: #005A94;
    text-transform: uppercase;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    transition: background-color 0.3s;
    gap: 8px;

}

.btn-chi-siamo i {
    font-size: 1.7rem;
    overflow: hidden;
}

.container-testa .btn-chi-siamo:hover {
    background-color: #083d75;
    transition: background-color 0.3s ease;
}

.container-corpo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 50%;
}

/* SVG come sfondo */
.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: auto;
}

.image-container svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: auto;
    /* width: 100%;
    height: 100%; */
    z-index: -1;
}

.image-container img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* height: auto;
    max-width: 400px; */
}

.wave {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    width: 99.9%;
    height: auto;
}

.wave svg {
    /* z-index: 11122222; */
    position: relative;
    display: block;
    /* width: calc(100% + 1.3px); */
    width: 99.99%;
    height: 125px;
    overflow: hidden;
}

.wave .shape-fill {
    fill: #272424;
}


/* ------------------------------------------------- CHI SIAMO --------------------------------------- */
#info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 70px;
    background-color: var(--color3);
}

#info h2 {
    font-style: italic;
}

.container-chi-siamo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* max-width: 1200px; */
    width: 100%;
}

.sezione-chi-siamo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.foto-container {
    flex: 1;
    width: auto;
    height: auto;
}

.foto-container img {
    width: 100%;
    height: 100%;
}

.foto-chi-siamo {
    /* background-color: #474747; */
    width: 100%;
    /* max-width: 350px; */
    height: 100%;
    border-radius: 10px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto-chi-siamo:hover {
    transform: scale(1.05);
    /* box-shadow: 0 8px 30px rgba(7, 38, 160, 0.3); */
}

.testo-container {
    flex: 2;
    text-align: left;
}

.testo-container h2 {
    color: var(--color2);
    padding-bottom: 15px;
}

.testo-container p {
    line-height: 1.6;
}

/* -------------------------------------------------- SERVIZI ------------------------------------------ */
#servizi {
    background-color: var(--color4);
}

.container-servizi {
    position: relative;
    padding: 60px 70px;
}

#servizi h2 {
    text-align: center;
    color: var(--color2);
}

#servizi #p-servizi {
    padding: 20px 0;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 40px;
}

.container-servizi,
.container-promo {
    margin: 0 auto;
    padding: 20px 70px;
}

/* Impostazioni generali per la sezione dei servizi */
.container-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 90px;
}

.container-tab .tab {
    flex: 1 1 30%;
    min-width: 250px;
    background-color: var(--color3);
    padding: 18px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 0 0 8px var(--color2);
    transition: transform .4s;
}

.tab:hover {
    transform: scale(1.05);
    box-shadow: 0 0 14px var(--color2);
}

.tab-icon {
    text-align: center;
    color: inherit !important;
}

.tab-icon i {
    font-size: 3.4rem;
    padding-bottom: 10px;
    color: var(--color2);
}

.tab h3 {
    color: var(--color2);
    text-align: center;
}

.tab p {
    padding-top: 15px;
    line-height: 1.3;
}

.wave-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 126px;
}

.wave-3 .shape-fill {
    fill: #424242;
    z-index: 11122222;
}

.container-promo {
    background-color: #424242;
}

/* Layout per sezione promo */
.pagina-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0;
    padding: 20px;
    /* background-color: var(--color3);
    border-radius: 10px; */
}

.pagina-responsive .testo {
    /* flex: 1;
    max-width: 50%;
    padding: 0 40px; */
    flex: 1 1 50%;
}

.pagina-responsive h2 {
    margin-bottom: 10px;
    color: var(--color2) !important;
    font-style: italic;
    font-size: 2.2rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

#p-primo {
    text-align: left;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(90deg, #61c0ff, #64cbff);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pagina-responsive p {
    line-height: 1.6;
}

.pagina-responsive .responsive-img {
    /* background-color: var(--color3); */
    flex: 1 1 40%;
    text-align: center;
    transition: transform 0.3s ease;
}

.responsive-img:hover {
    transform: scale(1.05);
}

.responsive-img img {
    width: 100%;
    height: auto;
    max-width: 400px;
}

/*  ---------------------------------------- COMPETENZE --------------------------------- */
#competenze {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    padding: 50px 70px;
    background-color: var(--color3);
}

.testa-competenze {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testa-competenze h2 {
    color: var(--color2);
    margin-bottom: 10px;
}

.testa-competenze p {
    color: var(--color1);
    margin-bottom: 20px;
}

.download-button {
    /* padding: 10px 20px; */
    border: none;
    cursor: pointer;
    background-color: #005A94;
    color: #fff;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    gap: 8px;
}

.download-button i {
    font-size: 1.5rem;
}

.download-button:hover {
    background-color: #083d75;
    transition: background-color 0.3s ease;
}

.logo {
    overflow: hidden;
    /* padding: 68px 0; */
    background: #000910;
    white-space: nowrap;
    position: relative;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo:hover .logo-slide {
    animation-play-state: paused;
}

.logo-slide i {
    font-size: 5rem;
    margin: 0 40px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-40%);
    }
}

.logo::before,
.logo::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 1;

}

.logo::before {
    left: -30px;
    background-color: hsla(var(--color1), 70%, 4%, .2);
    backdrop-filter: blur(16px);
}

.logo::after {
    right: -30px;
    background-color: hsla(var(--color1), 70%, 4%, .2);
    backdrop-filter: blur(16px);
}

/* ------------------------------------------- LAVORI ------------------------------------ */
/* Sezione Lavori */
#lavori {
    background-color: var(--color4);
    /* background-color: var(--color4); */
    color: var(--color1);
    padding: 50px 70px;
    text-align: center;
    position: relative;
}

#lavori h2 {
    margin-bottom: 10px;
    color: var(--color2);
}

#servizi #p-lavori {
    padding: 20px 0;
    line-height: 1.6;
    text-align: center;
}

/* Contenitore Progetto */
.progetto-container {
    background-color: var(--color3);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    margin-top: 25px;
}

#bottom {
    margin-bottom: 80px;
}

/* Immagine del Progetto */
.progetto-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.info-progetto #number {
    font-size: 3.4rem;
    color: var(--color2);
}

.info-progetto h3 {
    color: var(--color2);
    display: inline-block;
    font-size: 3rem;
    padding: 5px 0;
    font-style: italic;
}

.info-progetto p {
    color: var(--color1);
    padding-bottom: 10px;
}

#linguaggi i {
    font-size: 2rem;
    padding-right: 10px;
    transition: transform .4s;
    display: inline-block;
}

#linguaggi i:hover {
    transform: translateY(-5px);
}

.info-progetto hr {
    border: 1px solid var(--color4);
    margin: 15px 0;
}

/* Pulsante */
.btn-lavori {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    background-color: #555;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    gap: 8px;
    /* Spazio tra il testo e l'icona */
}

.btn-lavori:hover {
    background-color: #888;
}

.btn-lavori i {
    font-size: 1.5rem;
}

.wave-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-2 svg {
    z-index: 11122222;
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
    transform: rotateY(180deg);
}

.wave-2 .shape-fill {
    fill: #272424;
}

/* ------------------------------------------- CONTATTI ------------------------------------ */
#contatti {
    padding: 50px 70px;
    background-color: var(--color3);
    z-index: 999999999999999999999999999999999;
}

#contatti h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--color2);
}

.contenitore-contatti {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.testa-contatti {
    flex: 1;
    /* max-width: 40%; */
}

.testa-contatti h3 {
    /* color: var(--color1); */
    margin-bottom: 15px;
    color: #ecf8ff;
    font-style: italic;
}

.testa-contatti p {
    line-height: 1.6;
}

.corpo-contatti {
    flex: 1;
    /* max-width: 50%; */
}

.input-box {
    position: relative;
    padding: 5px;
    /* display: inline-block; */
}

.input-box input {
    width: 100%;
    padding: 10px;
    padding-left: 35px;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--color1);
    background-color: #181717;
    display: flex;
    height: 50px;
    margin: 2px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#text {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 2px;
    border: none;
    padding-left: 34px;
    padding-top: 17px;
    font-size: 1rem;
    outline: none;
    resize: none;
    border-radius: 5px;
    background-color: #181717;
    color: var(--color1);
}

.focus:focus {
    border: 2px solid var(--color1) !important;
}

.focus:focus::placeholder {
    opacity: 0;
}

::-webkit-input-placeholder {
    color: var(--color1);
}


.input-box i {
    position: absolute;
    top: 23px;
    left: 16px;
    color: var(--color1);
}

.input-box #icon-text {
    position: absolute;
    top: 24px;
    left: 16px;
}

#btn-invia {
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #005A94;
    color: var(--color1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
}

#btn-invia:hover {
    background-color: #083d75;
}

.box {
    opacity: 0;
    width: 60px;
    text-align: center;
}

#box-area {
    width: 70px;
}

.input-box input:focus~.box {
    opacity: 1;
    color: #ffffffa1;
    position: relative;
    bottom: 59px;
    left: 30px;
    font-size: 1rem;
    background: linear-gradient(to top, #181717 50%, #272424 50%);
    transition: linear .3s;
}

.input-box textarea:focus~.box {
    opacity: 1;
    color: #ffffffa1;
    position: relative;
    bottom: 110px;
    left: 30px;
    font-size: 1rem;
    background: linear-gradient(to top, #181717 50%, #272424 50%);
    transition: linear .3s;
}


/* ------------------------------------------------------------ FOOTER ------------------------------------- */
.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    background-color: var(--color4);
}

.footer-section {
    border-right: 1px solid #444;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section:last-child {
    border-right: none;
}

.footer-section h3 {
    margin-bottom: 12px;
    color: var(--color2);
    font-style: italic;
    font-size: 1.6rem;
}

/* Links Section */
.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links li a {
    color: var(--color1);
    font-weight: normal;
}

.footer-links li a:hover {
    color: var(--color2);
    transition: color .3s ease;
}

/* Social Icons Section */
.link-servizi {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.link-servizi li {
    display: flex;
    align-items: center;
}

.link-servizi li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link-servizi li a span:hover,
.link-servizi li a i:hover,
#email:hover {
    transition: color .3s;
    color: var(--color2);
}

.social-icons {
    display: inline-block !important;
    padding: 20px;
}

.social-icons i {
    font-size: 2rem;
    padding: 0 15px;
    transition: transform .4s;
    display: inline-block;
}


.social-icons i:hover {
    transform: translateY(-5px);
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    padding: 18px 0;
    color: var(--color1);
    border-top: 1px solid #444;
    height: 50px;
    background-color: var(--color4);
}