/* ----------------------------------------- SCROLLBAR ------------------------------------------- */

/* ---------------------------------- POP-UP ----------------------------- */
/* Stile per oscurare lo sfondo quando il popup è attivo */
 .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bebbbbd6;
    color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Stile per il contenitore del popup */
.popup-content {
    background-color: #f2efef;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Stile per il pulsante chiudi */
.close-popup {
    background-color: var(--color2);
    border: none;
    color: var(--color1);
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}


/* Mostra il popup */
.popup-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* --------------------------------------------- MEDIA QUERY --------------------------------- */
/* TABLET */
@media screen and (max-width: 1450px) {

    .container-left {
        
        font-size: 14px;
    }

    .container-img {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 20px;
    }

    .container-info h3,
    .container-lingue h3,
    .container-hobby h3 {
        width: 140px;
        font-size: 16px;
    }

    .label {
        font-size: 13px;
    }

    /* RIGHT */
    .container-right {
        font-size: 14px;
    }

    .container-profilo h3,
    .container-scuola h3,
    .container-lavori h3,
    .container-skills h3 {
        width: 250px;
        font-size: 16px;
    }

    .container-icon {
        width: 20px;
        height: 20px;
    }

    .container-icon i {
        color: #fff;
        font-size: 14px;
    }

    .container-skills .skills {
        gap: 15px;
        height: 200px;
    }

    .sub-box {
        width: 38px;
        height: 38px;
    }

    .sub-box span {
        font-size: 11px;
    }

    .stampa {
        font-size: 11px;
    }
}

/* TELEFONI */
@media screen and (max-width: 900px) {
    body {
        padding: 0;
    }

    .container-body {
        display: grid;
        grid-template-rows: repeat(2, 1fr);

    }

    h1 {
        font-size: 22px;
    }

    /* LEFT */
    .container-left {
        /* width: 95.5%; */
        /* width: 45%; */
        width: auto;
        height: 100%;
        font-size: 16px;
        padding: 15px;
    }

    .container-img {
        width: 130px;
        height: 130px;
    }

    .info i {
        padding-right: 20px;
    }
    

    .container-info h3,
    .container-lingue h3,
    .container-hobby h3 {
        width: 320px;
        font-size: 20px;
    }

    .hobby {
        /* column-gap: 50px */
        padding-top: 15px;
        row-gap: 40px;
    }

    /* RIGHT */
    .container-right {
        height: 100%;
        width: auto;
        font-size: 16px;
        padding: 15px;
    }

    .container-profilo h3,
    .container-scuola h3,
    .container-lavori h3,
    .container-skills h3 {
        width: 320px;
        font-size: 20px;
    }

    .container-icon {
        width: 26px;
        height: 26px;
    }

    .container-icon i {
        color: #fff;
        font-size: 18px;
    }

    .container-profilo p {
        padding-right: 10px;
    }

    .container-skills .skills {
        gap: 30px;
    }

    .sub-box {
        width: 45px;
        height: 45px;
    }

    .sub-box span {
        font-size: 13px;
    }

    .stampa {
        font-size: 12px;
    }
}

/* STAMPA */
@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    /* Nascondi elementi non necessari durante la stampa */
    .no-print {
        display: none;
    }

    @page {
        margin: 1cm;
    }

    body {
        padding: 0;
        padding-top: 75px;
    }

    .container-left {
        width: 35%;
        /* height: 100%; */
        font-size: 14px;
    }

    .container-img {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 20px;
    }

    .container-info h3,
    .container-lingue h3,
    .container-hobby h3 {
        width: 140px;
        font-size: 16px;
    }

    .label {
        font-size: 13px;
    }

    /* RIGHT */
    .container-right {
        width: 65%;
        /* height: 100%; */
        font-size: 14px;
    }

    .container-profilo h3,
    .container-scuola h3,
    .container-lavori h3,
    .container-skills h3 {
        width: 250px;
        font-size: 16px;
    }

    .container-icon {
        width: 20px;
        height: 20px;
    }

    .container-icon i {
        color: #fff;
        font-size: 14px;
    }

    .container-skills .skills {
        gap: 15px;
        height: 200px;
    }

    .sub-box {
        width: 38px;
        height: 38px;
    }

    .sub-box span {
        font-size: 11px;
    }

    .stampa {
        font-size: 11px;
    }

}