@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* REGOLE GENERICHE */
* {
    --color1: #fff;
    --border: 1px solid #000;
    --color2: #72b6ff;
    --color3: #111154e3;
}

body {
    margin: 0;
    padding: 20px 80px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--color2);
}

h1 {
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

h3 {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* CONTAINER CURRICULUM */
/* ---------------------------------- CORPO ---------------------------------------- */
.container-body {
    display: flex;
}

/* ------------------------------------ LEFT ----------------------------------------- */
.container-left {
    background-color: var(--color3);
    padding: 5px;
    width: 35%;
    /* height: 840px; */
    color: #f3efef
}

.container-foto {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 20px 0 5px;

}

.container-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color2);
    background-color: #f3efeff8;
    /* background-color: #66a3e3da; */
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: bold;
}

hr {
    width: 90%;
}

.container-info {
    padding: 10px 30px;
}

.container-info h3,
.container-lingue h3,
.container-hobby h3 {
    background-color: var(--color2);
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.info i {
    color: var(--color2);
    padding-right: 4px;
    /* padding-left: 20px; */
    font-size: 18px;
}

.progress-container {
    position: relative;
    width: 80%;
    padding: 5px 0;
}

.language {
    padding-bottom: 5px;
}

.labels {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}

.label {
    font-size: 13px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 7px;
    background-color: #ccc;
    overflow: hidden;
    border-radius: 5px;
}

.progress {
    width: 42%;
    height: 100%;
    background-color: var(--color2);
}

#progress-spa {
    width: 60%
}

.hobby {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    padding-top: 10px;
    /* column-gap: 50px; */
}

.hobby #background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 50px;
}

#ciao {
    color: var(--color2);
    font-size: 28px;
}


/* --------------------------------------------- RIGHT -------------------------------------- */
.container-right {
    background-color: #f3efef;
    padding: 0 20px;
    width: 65%;
    /* height: 850px; */
}

.container-profilo p {
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
    hyphens: auto;
    /* font-size: 14px; */
}

.scuola {
    display: flex;
    align-items: center;
}

.anni,
.esperienza {
    display: flex;
    flex-direction: column;
}

.freccia {
    color: var(--color2);
    font-size: 32px;
    padding: 0 50px;
}

.container-profilo h3,
.container-scuola h3,
.container-lavori h3,
.container-skills h3 {
    background-color: var(--color3);
    width: 300px;
    border-radius: 5px;
    color: #f3efef;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 3px 5px;
}

.container-icon {
    width: 26px;
    height: 26px;
    background-color: var(--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}

.container-icon i {
    color: #fff;
    font-size: 18px;
}


.container-skills .skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 10px;
    /* gap: 15px; */
    /* row-gap: 10px; */
    /* column-gap: 100px; */
    height: 150px;
}

.sub-box {
    width: 45px;
    height: 45px;
}

.sub-box span {
    font-size: 13px;
}

#hr-footer {
    width: 90%;
}


.container-footer {
    /* width: 90%; */
    /* display: flex;
    flex-direction: column;
    justify-content: left; */
    padding: 10px 30px;
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
    hyphens: auto;
}

.stampa {
    font-size: 12px;
    font-style: oblique;
}